*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-size: large; */
    margin: 0;
}
body{
    background-color: rgb(7, 138, 85);
    /* color: white; */
    /* display: flex; */
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: normal; */
    margin: 0 10px 0 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
}
.navBar{
    cursor: pointer;
}
#navPart1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22vw;
}
#navPart1 img{
    cursor: pointer;
    width: 50px;
    height: 30px;
}
#navPart2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: 50px;
}
#navPart2 img{
    width: 50px;
    height: 30px;
}
#body{
    flex-direction: column;
}
#searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    width: 80vw;
}
li{
    list-style: none;
    padding: 30px 10px;
}
.list img{
    width: 80px;
    height: 105px;
    cursor: pointer;
}
.list img:hover{
    /* how I stop moving next book cvers? */
    /* position:fixed; */
    width: 100px;
    height: 115px;
}
ul{
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    width: 120px;
    height: 155px;
}
.sign{
    opacity: 60%;
}
.sign :hover{
    opacity: 55%;
}
/* .category{
    margin-left: 170px;
    display: none;
} */


/* .dropDownMenu{
    background-color: white;
    width: 200px;
} */

/* .signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225,225,225,9);
    position: fixed;

} */